In [78]:
import pandas as pd

In [79]:
df=pd.read_csv("spotify_millsongdata.csv")

In [80]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [81]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [82]:
df.shape

(57650, 4)

In [83]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [84]:
df=df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [85]:
df.head(10)

,artist,song,text
0,INXS,Just Keep Walking,Green fields \r\nGrass and earth \r\nBroken ...
1,Westlife,beautiful tonight,Well I thought I'd seen it all \r\nFrom begin...
2,Deep Purple,Sun Goes Down,Oh you're all looking up \r\nWith hearts of d...
3,Deep Purple,Love Child,You can walk through fire \r\nMake the north ...
4,Within Temptation,Forgiven,Couldn't save you from the start \r\nLove you...
5,Status Quo,Mony Mony,"Here she come down, say ""money, money"" \r\nWe..."
6,Elton John,Blues For My Baby And Me,Your old man got mad when I told him we were l...
7,Uriah Heep,Come Back To Me,"Alone again, I feel so alone again \r\nWith t..."
8,Don McLean,Falling Through Time,"I can't answer the questions you ask me, \r\n..."
9,Steely Dan,Don't Take Me Alive,Agents of the law \r\nLuckless pedestrian \r...

In [86]:
df['text'][10]

"Now it looks to me like the same old place  \r\nIn the sky it looks like rain  \r\nThe same old town with the same old streets  \r\nThe address has not change  \r\nYou can find me there  \r\nWith the door shut tight  \r\nAnd the one wish that remains  \r\n  \r\nBaby step back baby step back  \r\nEither step up or step back  \r\n  \r\nNo you know I don't write no bad checks  \r\nI have no wish to repent  \r\nI've seen a few  \r\nBut whatever I do  \r\nI don't cause no accidents  \r\nWhiskey and wine help me pass the time  \r\nI don't leave no evidence  \r\n  \r\nBaby step back baby step back  \r\nEither step up or step back  \r\nBaby step back baby step back  \r\nEither step up or step back  \r\n  \r\nStill I don't kneel down  \r\nI was born to fight  \r\nSo you'd best leave me alone  \r\nMaybe I'll get much more than I need  \r\nOr much less than I should own  \r\nLast of all let me say it again  \r\nEither step up or step on  \r\n  \r\nBaby step back baby step back  \r\nEither step up or step back  \r\nBaby step back baby step back  \r\nEither step up or step back  \r\n  \r\nBaby walk back baby walk back  \r\nEither walk on or walk back  \r\nBaby step back\r\n\r\n"

In [87]:
df.shape

(5000, 3)

In [88]:
df.shape

(5000, 3)

Text Cleaning Text Preprocessing

In [89]:
df['text']=df['text'].str.lower().replace(r'^\w\s', '').replace(r'\n', ' ',regex=True)

In [90]:
df.tail(5)

,artist,song,text
4995,Bonnie Raitt,Fool Yourself,lookout boy your bound to change \r you can't...
4996,Pearl Jam,It's Okay,"it's okay, it's okay (x4) \r you don't have t..."
4997,Cheap Trick,Say Goodbye,how does it feel to be better \r how does it ...
4998,Chris Rea,The Road To Hell (Part 2),well i'm standing by the river \r but the wat...
4999,Justin Timberlake,Bigger Than The World,i think my heart might explode \r cause now i...

In [91]:
import nltk
from nltk.stem.porter import PorterStemmer
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Manogna\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [92]:
stemmer=PorterStemmer()

In [93]:
def token(txt):
    token=nltk.word_tokenize(txt)
    a=[stemmer.stem(w) for w in token]
    return " ".join(a)

In [94]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [95]:
df['text'].apply(lambda x: token(x))

0       green field grass and earth broken bottl brick...
1       well i thought i 'd seen it all from begin to ...
2       oh you 're all look up with heart of devot thr...
3       you can walk through fire make the north wind ...
4       could n't save you from the start love you so ...
                              ...
4995    lookout boy your bound to chang you ca n't eve...
4996    it 's okay , it 's okay ( x4 ) you do n't have...
4997    how doe it feel to be better how doe it feel t...
4998    well i 'm stand by the river but the water doe...
4999    i think my heart might explod caus now i feel ...
Name: text, Length: 5000, dtype: object

In [96]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [97]:
from sklearn.metrics.pairwise import cosine_similarity

In [98]:
tfid=TfidfVectorizer(analyzer='word',stop_words='english')

In [99]:
matrix=tfid.fit_transform(df['text'])

In [109]:
similar=cosine_similarity(matrix)

In [110]:
similar[0]

array([1.        , 0.01516097, 0.        , ..., 0.        , 0.01334389,
       0.01253197])

In [106]:
df[df['song']=='Say Goodbye'].index[0]

4997

Recommender Function

In [114]:
def  recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse = True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [115]:
recommender("Fool Yourself")

['A Fool Such As I',
 'Words',
 'Fool Til The End',
 "Don't Say It Baby",
 'Everytime',
 'No, No, No',
 'Come And Go Blues',
 'Just A Friend',
 'Another Girl',
 'Floating Away',
 'Eye In The Sky',
 "G-Love (You Don't Love Me)",
 'I Pity The Fool - The Manish Boys',
 "Sometimes Love Just Ain't Enough",
 'Change',
 'Please Come Out Tonight',
 'Words',
 'She Knows',
 'Fool',
 'Fool That I Am']

In [116]:
import pickle

In [117]:
pickle.dump(similar,open("similarity","wb"))

In [118]:
pickle.dump(df,open("df", "wb"))